.top-menu {


    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 3rem;
            height: 3rem;
            margin-right: 2rem;
        }

        h4 {
            margin: 0%;
            font-size: 1.5rem;
        }
    }
}